<div class="container"> 
    <div class="titleWrapper" style="">
            <div class="title">
                <h1 class="titleTerm">   Demo   </h1>
            </div>
            <div class="rating">
                    <div class="score float-left" style="margin: 5px;">
                        <span>3,7</span>
                    </div>
                    <div class="displayStar float-left" style="margin: 2px;">
                        <img src="image/star.png"  alt="star">
                        <img src="image/star.png"  alt="star">
                        <img src="image/star.png"  alt="star">
                        <img src="image/rating.png"  alt="star">
                    </div>

                    <div class="ratingCount float-left" style="margin: 5px;">
                          3 đánh giá
                    </div>

                    <button class ="float-left"  style="margin: 5px;"> 
                        <span>
                            Đánh giá 
                        </span>
                    </button>
            </div>
      </div>

      <div class="content-study" style="margin-top: 50px; background-color: aquamarine;" >
        <div class="row navmenu">
            <div class="col-sm-4">
              <div id="menu-bar">

                <ul>
                  <li>
                    <img src="image/credit-card.png" alt="logo" class="float-left" width="25px" height="25px">
                    <a class="active" href="http://localhost:8081/learning/<%= iduser %>/memory-card">Memory card</a>
                  </li>
                  <li>
                    <img src="image/reading-book.png" alt="logo" class="float-left" width="25px" height="25px">
                    <a href="http://localhost:8081/learning/<%= iduser %>/learn">Learn</a>
                  </li>
                  <li>
                    <img src="image/write.png" alt="logo" class="float-left" width="25px" height="25px">
                    <a href="http://localhost:8081/learning/<%= iduser %>/write">Write</a>
                  </li>
                  <li>
                    <img src="image/microphone.png" alt="logo" class="float-left" width="25px" height="25px">
                    <a href="http://localhost:8081/learning/<%= iduser %>/spell">Spell</a>
                  </li>
                  <li>
                    <img src="image/check.png" alt="logo" class="float-left" width="25px" height="25px">
                    <a href="http://localhost:8081/learning/<%= iduser %>/check">Check</a>
                  </li>
                </ul>              
              </div>
            </div>

            <div class="col-sm-8">
                study here
            </div>
        </div>
      </div>

</div>

<div class="info-term container">
          <p>create by : </p>
          <span>Nam Bui</span>
</div>

<div class="container glossary">
  <div> 
    <h2>Glossary in this module (?)</h2> 
  </div>

  <div class="list-learning">
    <div class="display">
        <div class="show-title"> 
          <p>title</p>
        </div>
        <div class="descript">
          <p>descript</p>
        </div>
    </div>
    <div class="display">
        <div class="show-title"> 
          <p>title</p>
        </div>
        <div class="descript">
          <p>descript</p>
        </div>
    </div>
    <div class="display">
      <div class="show-title"> 
        <p>title</p>
      </div>
      <div class="descript">
        <p>descript</p>
      </div>
   </div>
    <div class="display">
      <div class="show-title"> 
        <p>title</p>
      </div>
      <div class="descript">
        <p>descript</p>
      </div>
    </div>
    <div class="display">
      <div class="show-title"> 
        <p>title</p>
      </div>
      <div class="descript">
        <p>descript</p>
      </div>
    </div>
  </div>
</div>
<div class="discovery container" style="margin-top: 50px;">
    <h2>Discovery..</h2>
  
    <div class="term-discovery">
        <p>titleTerm</p>
        <p>11 thuat ngu</p>
        <h3>userCreate</h3>
    </div>
  
    <div class="term-discovery">
      <p>titleTerm</p>
        <p>11 thuat ngu</p>
        <h3>userCreate</h3>
    </div>
  
    <div class="term-discovery">
      <p>titleTerm</p>
      <p>11 thuat ngu</p>
      <h3>userCreate</h3>
    </div>
  
    <div class="term-discovery">
      <p>titleTerm</p>
      <p>11 thuat ngu</p>
      <h3>userCreate</h3>
    </div>
  </div>





